body {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 90%, var(--backgroundColor) 100%), 
    linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 90%, var(--backgroundColor) 100%),
    url('../assets/cinema4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: var(--backgroundColor);
}

/*----- Cover images -----*/

.current img {
    width: 9rem;
    height: auto;
    transition: 0.5s ease;
}

/*----- Currently playing -----*/

.currently-playing {
    display: flex;
    justify-content: center;
}

.current {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.6rem;
    padding: 0;
    margin: 2rem 0;
}
    
.current img:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

/*----- Coming up text -----*/

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coming-soon-text {
    text-align: center;
    font-family: 'Tiny5';
    width: 100%;
    height: auto;
    background-color: var(--logo);
    font-size: 2rem;
}

.upcoming-movies {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 0.6rem;
    margin: 1rem 0;
}

/*----- Pixel hover effect -----*/

.upcoming-movies a {
    position: relative;
    display: inline-block;
    width: 9rem;
    height: auto;
}

.upcoming-movies a img {
    width: 9rem;
    height: auto;
    transition: opacity 0.3s ease;
}

.upcoming-movies a .pixelated {
    position: absolute;
    top: 0;
    left: 0;
    width: 9rem;
    height: auto;
    opacity: 0;
    z-index: 1;
    image-rendering: pixelated;
    object-fit: cover;
}

.upcoming-movies a:hover .pixelated {
    opacity: 1;
    position: absolute;
}

/*----- Media queries for movies -----*/

@media (min-width: 700px) {
    .current, .upcoming-movies, .coming-soon-text {
        width: 75%;
    }
}

@media (min-width: 950px) {
    .current, .coming-soon-text {
        width: 60%;
    }

    .upcoming-movies {
        width: 40%;
        align-self: center;
        justify-content: space-around;
        gap: 1.8rem;
    }

    .current {
        gap: 1.5rem;
    }
}